__pycache__/
*.py[cod]
*$py.class

.DS_Store
Thumbs.db
desktop.ini

*.tmp
*.bak
*.log

webmap_manchas_urbanas_dashboard (*).png
webmap_manchas_urbanas_florianopolis (*).png
rankings_socio_urbanos_bairros.png
/sau_dist_san.zip
evolucao_urbana_distritos_saneamento*.png
indice_pressao_urbana_saneamento*.png
inspecoes_sanitarias_distritos*.png
prioridade_integrada_saneamento*.png
